<div class="card text-center">
  <div class="banner">
    <h3>Name</h3>

    <p class="bio">Bio text Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat dolorum velit, qui corrupti dignissimos porro
      architecto, nostrum maiores explicabo, ipsam illum laborum dolores? Sit ab aut vel. Quisquam, nisi eum?</p>
  
    <div class="row">
      <div class="col-4">
        <h3>
          125651
          <br/>
          <span>FOLLOWERS</span>
        </h3>
      </div>
      <div class="col-4">
        <h3>
          125651
          <br/>
          <span>FOLLOWERS</span>
        </h3>
      </div>
      <div class="col-4">
        <h3>
          125651
          <br/>
          <span>FOLLOWERS</span>
        </h3>
      </div>
    </div>
    </div>


</div>