:host {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.about{
    color: #383C42;
    background-color: #FFCC33;
    height: 100%;
    padding-top: 40px;
}

h1{
    font-size: 100px;
}